Hi <%= @user.name %>,

<%= @requested.full_name %> has requested to join your group! You can accept or reject their request by visiting the following page: <%= group_url(@group, host: @college.host) %>.

Sincerely,
<%= @college.dean %>
